%div.well
  = form_for @task, remote: false, html: {class: "todo-form"} do |f|
    %div.row
      %div.col-md-9
        = f.label :title, "Zadanie:", class: "sr-only"
        = f.text_field :title, class: 'form-control', autofocus: true, placeholder: "Wpisz co masz do zrobienia..."
      %div.col-md-3
        = f.submit "Dodaj zadanie", class: 'btn btn-primary btn-block'