%div.page-content
  %div.row
    %div.col-md-8
      %div.page-header
        %h1
          Twoje zadania
      = render partial: 'tasks/form'
      = render partial: 'tasks/lists'

    %div.col-md-4
      = render partial: 'profiles/aside'