%div.page-content
  %div.jumbotron
    %h1 Codzienne zadania jako gra RPG!
    %p.lead Podbijaj codzienne zadania! Bądź bardziej produktywny, skupiony a jednocześnie baw się zdobywając punkty doświadczenia i poziomy, rozwiązując questy i wyzwania.
    %p
      = link_to "Zarejestruj się i zacznij już dziś", new_user_registration_path, class: "btn btn-primary"

  %div.row
    %div.col-md-6
      %h3 Organizuj swoje życie
      %p TodoRPG umożliwia banalny sposób na zarządzanie Twoimi zadaniami czy listami "to-do". Cokolwiek planujesz zrobić, po prostu wrzuć na listę i odhacz kiedy jest zrobione. To takie proste!

    %div.col-md-6
      %h3 Graj w gre!
      %p Codzienne zadania mogą być nudne... Nie u nas! Za każde wykonane zadanie z Twojej listy zdobywasz punkty doświadczenia i rozwijasz się. Tak jak w prawdziwym życiu ;-) Ale w TodoRPG czeka na Ciebie dużo więcej! Odkryj to!