%div.page-header
  %h1 Życie to gra! Czas zacząć...

%div.page-content

  %div.jumbotron
    %p
      Wypełnianie codziennych obowiązków może czasem być nudne i nieciekawe.
      Znowu na zakupy, załatwić spotkanie u lekarza, odebrać paczkę, pojechać do mechanika i jeszcze na basen...

    %p Dzięki TodoRPG możesz zamienić to wszystko w grę i dobrze się bawić!

    = link_to tasks_path, class: "btn btn-primary btn-lg" do
      Przejdź do zadań
      %span.glyphicon.glyphicon-chevron-right

  %hr

  %div.row
    %div.col-md-6

      %h2 Listy zadań
      %p TodoRPG to prosty i intuicyjny menadżer zadań.

      %ul
        %li Szybko i wygodnie zapisuj rzeczy do zrobienia na liście,
        %li Jeśli coś zrobiłeś, klikając na znaczek ✔ odhaczasz zrobione zadaniam,
        %li Pozycje na liście możesz edytować i usuwać,
        %li Na drugiej liście poniżej zobaczysz ostatnie załatwione sprawy.

    %div.col-md-6

      %h2 Gra RPG
      %p Apikacja TodoRPG została zaprojektowana także pod kątem grywalności i rozrywki.

      %ul
        %li Za wykonane zadania zdobywasz punkty doświadczenia i rozwijasz swój profil,
        %li Zbierając punty możesz awansować na kolejne poziomy i zdobywać nowe tytuły,
        %li Załatwnienie spraw z listy to także okazja aby zgarnąć trochę srebra i złota,
        %li W przygotowaniu więcej niespodzianek, w tym: questy i wyzwania, osiągnięcia i nagrody!

  %br
  %br
  %br
  %div.alert.alert-success
    %h5 Bezpieczeństwo
    %p Twoje pozycje na liście są całkowicie prywatne i widoczne tylko dla Ciebie.
