%div.well
  %h4 Czym są projekty?

  %p
    Projekty służą do grupowania podobnych tasków.
    Zazwyczaj, jeśli realizujesz jakiś większy cel to dobrze jest mieć wszystkie
    zadania zebrane pod jednym sztandarem.

  %p
    Twoim projektem może być np. <em>"Przygotowania do maratonu"</em> albo
    <em>"Napisanie pracy magisterskiej"</em>.
