.todo-form{
  input[id="task_title"]{
    //width: 520px;
  }
}

.list-group-item{
  position: relative;
  padding-left: 30px;
  padding-right: 230px;

  .task-xp{
    position: absolute;
    right: 50px;
    top: 10px;
    width: 60px;
    text-align: left;
  }

  .task-gold{
    position: absolute;
    top: 10px;
    right: 115px;
    width: 110px;
  }

  .glyphicon-ok{
    position: absolute;
    left:8px;
    top: 12px;
    color: #ddd;
  }

  .glyphicon-trash, .glyphicon-edit{
    position: absolute;
    right: 12px;
    top: 12px;
    color: #eee;
  }

  .glyphicon-edit{
    right: 32px;
  }

  &:hover{
    .glyphicon-trash, .glyphicon-edit{
      color: #ddd;
      &:hover{
        color: $gray;
      }
    }
    .glyphicon-ok{color: $brand-primary;}
  }
}

.completed{
  text-decoration: line-through;
}