
$brand-primary: #2980b9;
$navbar-inverse-link-color: #eee;
$navbar-inverse-color: #eee;
$navbar-inverse-bg: #16a085;
$badge-bg: #eee;
$badge-color: $brand-primary;

@import "bootstrap";

@import "modules/layout";
@import "modules/tasks";
@import "modules/profile";
