
$brand-primary: #2980b9;
$navbar-inverse-link-color: #eee;
$navbar-inverse-color: #eee;
$navbar-inverse-bg: #16a085;

@import "bootstrap";


.page-header{
  position: relative;
}

.nav-right{
  position: absolute;
  right: 0;
  top: 0;
}

.list-group-item{
  position: relative;
  padding-left: 30px;


  .glyphicon-ok{
    position: absolute;
    left:8px;
    top: 12px;
    color: #ddd;
  }

  .glyphicon-trash{
    position: absolute;
    right: 12px;
    top: 12px;
    color: #eee;
  }

  &:hover{
    .glyphicon-trash{color: #ddd;}
    .glyphicon-ok{color: $brand-primary;}
  }

}

.completed{
  text-decoration: line-through;
}